@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 950px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #00b9ed;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #d50040;
  
}
.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1358ab6;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
/* blog- details page */
.blog-details h2{
  font-size: 20px;
  color: #ff127de9;
  margin-bottom: 10px;
}
.blog-details p{
  color: #6ba3c2;
}
.blog-details div{
  margin:20px 0;
  padding: 0 0 100px 0;
}
.blog-details button{
  background: #f13535;
  color: #fff;
  border:0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* create new blog form */
.create {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #48d900;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create button:hover{
  background: #fff;
  color: #21cf02;
  transition: .4s ease-out;
}
.card{
  display: block;
  width: 300px;
  transition: 0.3s;
  animation: ease-in-out;
}
.card:hover{
  transform: scale(1.1);

}
.card img{
  height: 250px;
  display: block;
}
.crd-btn{
  justify-content: center;
}
.not-found h2, .not-found p{
  margin-top: 20px;
  font-size:4rem;
}
@media screen and (max-width:425px){
  .navbar .links{
    margin-left: auto;
    display: inline-flex;
  }  
}